
body{
    background: black;
    color: red;
    font: normal 15pt Arial;
}

header{
    color: rgb(197, 3, 3);
    text-align: center;
    font-style: italic;

    
}

section{
    background: rgb(48, 1, 48);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}

footer{
    color: rgb(197, 3, 3);
    text-align: center;
    font-style: italic;
    
}